/*
 * @Date: 2021-12-03
 * @Description: 全局scss函数
 */
@mixin DEBUG {
  ul,
  li,
  section,
  div,
  button,
  p,
  header,
  main,
  footer {
    outline: 1Px solid #00cec9;
  }
  a,
  span {
    outline: 1Px dashed #ff0080;
  }
  i {
    outline: 1Px solid #ff6666;
  }
  img {
    outline: 1Px solid #ffdb4d;
  }
}

@mixin sc($fontsize, $color) {
  font-size: $fontsize;
  color: $color;
}

@mixin font-n($size: 13px, $color: #666666) {
  font-size: $size;
  font-family: SourceHanSansSC-Normal, SourceHanSansSC;
  font-weight: 400;
  color: $color;
}

@mixin font-b($size: 16px, $color: #111111) {
  font-size: $size;
  font-family: SourceHanSansSC-Bold, SourceHanSansSC;
  font-weight: bold;
  color: $color;
}
