/*
 * @Date: 2021-12-03
 * @Description: 全局scss变量
 */

// common类:

// 主题色
$theme-color: var(--main-theme-color);
// 容器padding
$container-padding: var(--main-container-padding);
// 容器背景色1
$container-bg-0: var(--main-container-bg-0);
// 容器背景色2
$container-bg-1: var(--main-container-bg-1);
// 容器背景色3
$container-bg-2: var(--main-container-bg-2);
// 容器背景色3
$container-bg-3: var(--main-container-bg-3);
// 容器背景色4
$container-bg-4: var(--main-container-bg-4);
// 边框色
$border-color-1: var(--main-border-color-1);
$border-color-2: var(--main-border-color-2);
$border-color-3: var(--main-border-color-3);
$border-color-4: var(--main-border-color-4);

// outline color
$outline-color-1: #00cec9;
$outline-color-2: #ff0080;
$outline-color-3: #ff6666;
$outline-color-4: #ffdb4d;

// word color
$word-color-0: var(--main-word-color-0);
$word-color-1: var(--main-word-color-1);
$word-color-2: var(--main-word-color-2);
$word-color-3: var(--main-word-color-3);
$word-color-4: var(--main-word-color-4);
$word-color-5: var(--main-word-color-5);

// z-index
$sticky-index: var(--van-sticky-z-index);

// 圆角
$radius: var(--main-border-radius);
// 特定类

// 按钮颜色
$button-color: var(--main-button-color);
// 页脚底色
$footer-bg: var(--main-footer-bg);
// grid布局
$grid-padding-h: var(--main-grid-padding-h);
$grid-padding-v: var(--main-grid-padding-v);

// slider
$slider-padding-h: $grid-padding-h;

// 翻译高度:
$trans-height: 47px;
// 导航高度
$nav-height: 44px;
// gutter高度
$gutter-height: 8px;
// icon底色
$icon-color-1: var(--main-icon-color-1);

// 导出
:export {
  buttonMainColor: $button-color;
  iconColorGray: $icon-color-1;
}
