/*
 * @Date: 2021-12-03
 * @Description: root css 变量 ; vant 变量覆盖
 */

:root {
  /* 容器类 */
  --main-theme-color: #162d75;

  --main-container-padding: 16px;
  --main-container-bg-0: #ffffff;
  --main-container-bg-1: #f7f7f7;
  --main-container-bg-2: #f6f6f6;
  --main-container-bg-3: #faeadc;
  --main-container-bg-4: #d8d8d8;

  --main-footer-bg: #f5f3ed;

  /* 边框类 */
  --main-border-color-1: #344c97;
  --main-border-color-2: #dfdacd;
  --main-border-color-3: #e3e3e3;
  --main-border-color-4: #e9e8e8;
  --main-border-radius: 4px;

  /* 宫格类 */
  --main-grid-padding-h: 8px;
  --main-grid-padding-v: 4px;
  /* 按钮类 */
  --main-button-color: #ff8030;

  /* icon类 */
  --main-icon-color-1: #999999;

  /* radio类 */
  --main-radio-check-color: #111111;

  /* 文字类 */
  --main-word-color-0: #ffffff;
  --main-word-color-1: #111111;
  --main-word-color-2: #666666;
  --main-word-color-3: #999999;
  --main-word-color-4: #333333;
  --main-word-color-5: #1d1d1d;

  /* zindex */
  --main-sticky-index: 100;
  --main-dropdown-index: 100;

  /* vant类 */
  --van-swipe-indicator-active-background-color: $container-bg-0;
  --van-swipe-indicator-inactive-background-color: rgba(255, 255, 255, 0.6);
  --van-border-radius-sm: var(--main-border-radius);
  --van-grid-item-content-padding: var(--main-grid-padding-h)
    var(--main-grid-padding-v);
  --van-collapse-item-content-background-color: var(--main-footer-bg);
  --van-sticky-z-index: var(--main-sticky-index);
  --van-cell-vertical-padding: 12px;
  --van-radio-checked-icon-color: var(--main-radio-check-color);
  /* --van-button-primary-color: var(--main-button-color); */
  --van-button-primary-background-color: var(--main-button-color);
  --van-button-primary-border-color: var(--main-button-color);
  --van-dropdown-item-z-index: var(--main-dropdown-index);
}
